.sectionManageTask{
    padding: 45px;
}

.containerDescriptionTask h2{
    text-align: center;
    font-family: "Kanit", sans-serif;
    color: rgb(206, 83, 206);
}

.containerDescriptionTask p{
    font-family: "Merriweather", serif;
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.containerAddTask{
    text-align: end;
    margin-top: 40px;
}

.addTaskButton{
    background-color: rgb(206, 83, 206);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 1.1rem;
    opacity: 0.9;
    margin-right: 10px;
}

.addTaskButton:hover{
    opacity: 1;
    transition: all ease-in 0.3s;
    transform: scale(1.05);
}

.containerFilter{
    margin-top: 40px;
    text-align: center;    
    border-top: 2px solid rgb(206, 83, 206);
    padding-top: 25px;
}

.containerFilter h2{
    font-family: "Kanit", sans-serif;
    color: rgb(206, 83, 206);
}

.containerAllTask{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
    padding: 30px;
    margin-top: 20px;
}

.containerCategories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.containerButtonCat{
    background-color: rgb(206, 83, 206);
    border-radius: 10px;
    border: none;
    padding: 3px;
    opacity: 0.9;
}

.containerButtonCat:hover{
    transition: all ease-in-out 0.3s;
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
}

.containerButtonCat .buttonCat{
    color: white;
    font-weight: bold;    
}

.containerButtonReport{
    background-color: rgb(77, 200, 77);
    border-radius: 10px;
    border: none; 
    padding: 3px;
    opacity: 0.9;
    cursor: pointer;
}

.containerButtonReport:hover{
    transition: all ease-in-out 0.3s;
    opacity: 1;
    transform: scale(1.05);
}

.containerButtonReport .buttonReport{
    color: white;
    font-weight: bold;
}

@media (max-width: 900px) {
    .containerAllTask{
        grid-template-columns: repeat(1, 1fr);
    }        
}

@media (max-width : 800px) {
    .containerCategories{
        flex-direction: column;
        gap: 20px;
    }

    .containerButtonCat{
        width: 85%;
    }

    .containerButtonReport{
        width: 85%;
    }
}